.card {
    align-items: center;
    background-color: var(--card-bg);
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
    padding: 20px;
    text-align: center;
}
.item{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.year{  
    top: -50px;
}
