.button-card{
    background: #5d72c9;
    border-radius: 15px;
    color: antiquewhite;
    position: absolute;
    height: 25px;
    top: -15px;
    width: 150px;
}
.clear{
    opacity: 0;
}
.card {
    align-items: center;
    background-color: var(--card-bg);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
}
.correct{
    background: green;
}
.item{
    align-items: center;
    display: flex;
    height: 75px;
    justify-content: center;
    text-align: center;
    width: 350px;
}
.start{
    background: gray;
}
.wrong{
    background: red;
}
.year{  
    border-radius: 15px;
    color: antiquewhite;
    height: 25px;
    position: absolute;
    padding-left: 5px;
    padding-right: 5px;
    top: -15px;
    min-width: 150px;
}
